{% extends 'base.html.twig' %}

{% block title %}Edit Rqst{% endblock %}

{% block body %}
    <h1>Editer une requête</h1>

    {{ include('rqst/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('rqst/_delete_form.html.twig') }}

    <a href="{{ path('rqst_index') }}">Retour</a>

{% endblock %}
