{% extends 'base.html.twig' %}

{% block title %}New Rqst{% endblock %}

{% block body %}
    <h1>Créer une demande</h1>

    {{ include('rqst/_form.html.twig') }}

    <a href="{{ path('rqst_index') }}">Retour</a>
{% endblock %}
