{% extends 'base.html.twig' %}

{% block title %}New Rqst{% endblock %}

{% block body %}
    <h1>Create new Rqst</h1>

    {{ include('rqst/_form.html.twig') }}

    <a href="{{ path('rqst_index') }}">back to list</a>
{% endblock %}
