{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="c-wrapper">
        <div class="c-body container-fluid">
            <main class="c-main">
                <!-- Main content here -->
                <img src="{{ asset('img/logo_bleu.svg') }}" alt="Logo" class="logo">
                    <div class="text-center">
                        <h5>Bienvenue sur Boostmacom, le site qui boost votre com!</h5>
                        <h5>J'avais pas trop d'inspi ...</h5>
                        <br>
                        <div class="btn-home text-center">
                            <button onclick="location.href='{{ path('app_login') }}'" type="button" class="btn btn-square btn-info">Se connecter</button>
                            <button onclick="location.href='{{ path('plus') }}'" type="button" class="btn btn-outline-info">En savoir plus</button>
                        </div>
                    </div>
            </main>
        </div>
    </div>
{% endblock %}
