.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 450px;
}

.btn-home button {
    display: block;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 65%;
    height: auto;
}


input.disabled_field {
    background: #dddddd;
}

h1 {
    color: #3498db;
}