{% extends 'base.html.twig' %}

{% block title %}New Customers{% endblock %}

{% block body %}
    <h1>Créer un nouveau client</h1>

    {{ include('customers/_form.html.twig') }}

    <a href="{{ path('customers_index') }}">Retour</a>
{% endblock %}
