{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Editer une société</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('company/_delete_form.html.twig') }}

    <a href="{{ path('company_index') }}">Retour</a>

{% endblock %}
