{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Créer une société</h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('company_index') }}">Retour</a>
{% endblock %}
