<form method="post" action="{{ path('tickets_delete', {'id': ticket.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir archiver le ticket?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    <button class="btn btn-square btn-danger">Archiver</button>
</form>
