{% extends 'base.html.twig' %}

{% block title %}Edit Tickets{% endblock %}

{% block body %}
    <h1>Editer un ticket</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('tickets/_delete_form.html.twig') }}
    <a href="{{ path('tickets_index') }}">Retour</a>

{% endblock %}
