{% extends 'base.html.twig' %}

{% block title %}New Tickets{% endblock %}

{% block body %}
    <h1>Créer un ticket</h1>

    {{ include('tickets/_form.html.twig') }}

    <a href="{{ path('tickets_index') }}">Retour</a>
{% endblock %}
